LOCATE COMP "clk_25Mhz" SITE "P6";
IOBUF PORT "clk_25mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_25mhz" 25 MHZ;

# JTAG and SPI FLASH voltage 3.3V and options to boot from SPI flash
# write to FLASH possible any time from JTAG:
#SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 MASTER_SPI_PORT=ENABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;
# write to FLASH possible from user bitstream:
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 MASTER_SPI_PORT=DISABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

LOCATE COMP "reset_" SITE "R7";
LOCATE COMP "led_red" SITE "T6";
LOCATE COMP "phyrst_" SITE "R6";

LOCATE COMP "J_A" SITE "N5";
LOCATE COMP "J_B" SITE "N3";
LOCATE COMP "J_C" SITE "P3";
LOCATE COMP "J_D" SITE "P4";
LOCATE COMP "J_E" SITE "N4";
LOCATE COMP "J_CLK" SITE "M3";
LOCATE COMP "J_STB" SITE "N1";
LOCATE COMP "J_OE" SITE "M4";

LOCATE COMP "clk_14mhz" SITE "P11"; #J9_P1
    IOBUF PORT "clk_14mhz" PULLMODE=NONE IO_TYPE=LVCMOS25;
    FREQUENCY PORT "clk_14mhz" 14 MHZ;
LOCATE COMP "J9_P2" SITE "N11"; #J9_P2
LOCATE COMP "J9_P3" SITE "M11"; #J9_P3
LOCATE COMP "J9_P5" SITE "T13"; #J9_P5
LOCATE COMP "scl" SITE "R12"; #J9_P6
LOCATE COMP "sda" SITE "R13"; #J9_P7

LOCATE COMP "video[0]" SITE "R14"; #J10_P1
LOCATE COMP "sync" SITE "T14"; #J10_P2
LOCATE COMP "video[1]" SITE "D16"; #J10_P3
LOCATE COMP "burst[0]" SITE "C15"; #J10_P5
LOCATE COMP "burst[1]" SITE "C16"; #J10_P6
LOCATE COMP "burst[2]" SITE "B16"; #J10_P7

LOCATE COMP "J11_P1" SITE "B15"; #J11_P1
LOCATE COMP "J11_P2" SITE "C14"; #J11_P2
LOCATE COMP "J11_P3" SITE "T15"; #J11_P3
LOCATE COMP "J11_P5" SITE "P15"; #J11_P5
LOCATE COMP "J11_P6" SITE "R15"; #J11_P6
LOCATE COMP "J11_P7" SITE "P12"; #J11_P7