LOCATE COMP "clk_25Mhz" SITE "P3";
IOBUF PORT "clk_25mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_25mhz" 25 MHZ;

# JTAG and SPI FLASH voltage 3.3V and options to boot from SPI flash
# write to FLASH possible any time from JTAG:
#SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 MASTER_SPI_PORT=ENABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;
# write to FLASH possible from user bitstream:
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 MASTER_SPI_PORT=DISABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

LOCATE COMP "reset_" SITE "E2";
    IOBUF PORT "reset_" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "led_red" SITE "U16";

LOCATE COMP "si_14Mhz" SITE "U17"; #J9_P1
LOCATE COMP "scl" SITE "M17"; #J9_P6
LOCATE COMP "sda" SITE "M18"; #J9_P7

LOCATE COMP "sound_dac_l" SITE "B20"; #J10_P2
LOCATE COMP "sound_dac_r" SITE "F20"; #J10_P2

LOCATE COMP "sync" SITE "D1"; #J10_P2
LOCATE COMP "video[0]" SITE "B1"; #J10_P1
LOCATE COMP "video[1]" SITE "A3"; #J10_P1
LOCATE COMP "video[2]" SITE "C3"; #J10_P3
LOCATE COMP "burst[0]" SITE "C1"; #J10_P5
LOCATE COMP "burst[1]" SITE "C2"; #J10_P6
LOCATE COMP "burst[2]" SITE "E3"; #J10_P7

LOCATE COMP "tape_led" SITE "B2";
    IOBUF PORT "tape_led" IO_TYPE=LVCMOS33;
LOCATE COMP "tape_in" SITE "A2";
    IOBUF PORT "tape_in" IO_TYPE=LVCMOS33;
LOCATE COMP "tape_out" SITE "K4";
    IOBUF PORT "tape_out" IO_TYPE=LVCMOS33;


LOCATE COMP "serial_rx" SITE "H18";
    IOBUF PORT "serial_rx" IO_TYPE=LVCMOS33;
LOCATE COMP "serial_tx" SITE "J17";
    IOBUF PORT "serial_tx" IO_TYPE=LVCMOS33;
